<html>
    <body>    
       <form action = "http://localhost:3000/api/v1/projects" method = "POST">
          Project Name: <input type = "text" name = "name">  <br>
          
          <input type = "submit" value = "Submit">
       </form>
    </body>
 </html>