<html>
    <title>Add User</title>
    
    <body>
        <form action = "http://localhost:3000/api/v1/users" method = "POST">
            User Name: <input type = "text" name = "name">  <br>
            Password:  <input type = "text" name = "password"><br>
            Is Admin:  <input type = "checkbox" name = "isAdmin" value="0"> <br>
            <input type = "submit" value = "Submit">
         </form>
    </body>
</html>